// Fonts

// BASE
$site-width: 1280px;
$base-transition: 0.3s;
$breakpoints: (
	'small': 0,
	'tablet': 768px,
	'landscape': 1024px,
	'large': 1280px
);
//BREAKPOINTS VAR
$sm: 640px;
$tablet: 800px;
$landscape: 1024px;
$large: 1280px;

// COLORS
$color-black: #000;
$color-white: #fff;
$color-gray-light: #ececec;
$color-gray: #bbb;
$color-gray2: #333;
$color-gray-dark: #242424;
$color-pink: #db4696;
